body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
}

h1, h2 {
    color: #333;
    text-align: center;
}

form {
    text-align: center;
    margin-top: 20px;
}

#mensaje, #resultado, #resultado_area, #resultado_area1, #contrasena {
    text-align: center;
    margin-top: 20px;
    font-size: 20px;
    color: #ff6347;
}

.card{
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    margin: 10px;
}